.container {
    margin: 3em auto;
    width: 640px;
    display: flex;
    flex-flow: row wrap;
}

.hidden {
	display: none;
}

.authentication {
    display: none;
}

header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    border: solid green 1px;
    border-radius: 3px;
    padding: 1em;
    font-family: 'Yesteryear', cursive;
}

#following {
    flex-grow: 1;
    text-align: left;
}

#header-title {
    flex-grow: 2;
    text-align: center;
    font-size: 1.5em;
    color:dodgerblue
}

#filter {
    flex-grow: 1;
    text-align: right;
}

.inspiration {
	margin-left: 3em;
}

.result {
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto 1em auto;
}

.error {
	background-color: #F78181;
	padding: 1em;
}
