body {
    background-color: azure;
}

.container {
    margin: 3em auto;
    width: 640px;
    display: flex;
    flex-flow: row wrap;
}

.hidden {
	display: none;
}

.authentication {
    display: none;
}

header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
/*    border: solid green 1px;*/
    border-radius: 3px;
    padding: .3em;
    font-family: 'Righteous', cursive;
    background-color: #F4FFE8;
}

#following {
    flex-grow: 1;
    text-align: left;
}

#header-title {
    flex-grow: 2;
    text-align: center;
    font-size: 1.5em;
    color:dodgerblue
}

#filter {
    flex-grow: 1;
    text-align: right;
}

.image-header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}

.image-user {
    flex-grow: 1;
    text-align: left;
}

.image {
    margin: 0 auto;
}

.image-caption {
    text-align: justify;
}

.result {
/*	border: 1px solid black;*/
	padding: 5px;
	margin: 0 auto 1em auto;
}

.error {
	background-color: #F78181;
	padding: 1em;
}
